<a name="about"></a>
    <div class="intro-header"style="background: url('/bg/intro-bg.jpg') no-repeat center center;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Thankyou For Registering</h1>
                        <h3>Please choose some interests and then select either'Become a Master' is you would like to focus on challenges related to your chosen interests or 'Expand Your Skills' if you would like to explore new options</h3>
                        <hr class="intro-divider">
                        <h1>Interests</h1>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a onclick="document.getElementById('btnzz1').style.backgroundColor = 'transparent';"  class="btn btn-default btn-lg" id="btnzz1"><span class="network-name">Coding</span></a>
                            </li>
                             
                            <li>
                                <a onclick="document.getElementById('btnzz3').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnzz3"><span class="network-name">Cooking</span></a>
                            </li>
                            <li>
                                <a onclick="document.getElementById('btnzz4').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnzz4"><span class="network-name">Wood Working</span></a>
                            </li>
                            <li>
                                <a onclick="document.getElementById('btnzz2').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnzz2"><span class="network-name">Architecture</span></a>
                            </li>
                            <li>
                                <a onclick="document.getElementById('btnzz5').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnzz5"><span class="network-name">Textiles</span></a>
                            </li>

                        
                        </ul>
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a onclick="document.getElementById('btnz1').style.backgroundColor = 'transparent';"  class="btn btn-default btn-lg" id="btnz1"><span class="network-name">Gardening</span></a>
                            </li>
                             
                            <li>
                                <a onclick="document.getElementById('btnz3').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnz3"><span class="network-name">Gaming</span></a>
                            </li>
                            <li>
                                <a onclick="document.getElementById('btnz4').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnz4"><span class="network-name">Books</span></a>
                            </li>
                            <li>
                                <a onclick="document.getElementById('btnz2').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnz2"><span class="network-name">Life Style</span></a>
                            </li>
                            <li>
                                <a onclick="document.getElementById('btnz5').style.backgroundColor = 'transparent';"class="btn btn-default btn-lg" id="btnz5"><span class="network-name">Poetry</span></a>
                            </li>
                            
                        
                        </ul>

                         <ul class="list-inline intro-social-buttons" style="margin-top:5%">
                             <hr class="intro-divider">
                            <li>
                                <a href="societies#index"  class="btn btn-default btn-lg" id="btnz1"><span class="network-name">Become a Master</span></a>
                            </li>
                            <li>
                                <a href="#"class="btn btn-default btn-lg" id="btnz1"><span class="network-name">Expand Your Skills</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
  </div>
</script>