<h1>challenges page </h1>
<div class="alert alert-info">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>3 new quests available</strong> please go to you challenge page for more information!
</div>
