
<body>
	<div class="intro-header"style="background: url('/bg/intro-bg.jpg') no-repeat center center;">
		<div class="intro-message">
			<h1>Societies</h1>
			<h3>Connect and Explore</h3>
			<hr class="intro-divider">
			<ul class="list-inline intro-social-buttons">
				<li>
					<a href="coding#index" class="btn btn-default btn-lg">
						<span class="network-name">Coding</span></a>
				</li>
				<li>
					<a href="https://github.com/graceannx/Roundabout" class="btn btn-default btn-lg"><span class="network-name">Life Style</span></a>
				</li>
			</ul>
		</div>
	</div>
